@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  background: #363636;
  color: #fffaf0;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justyfy-content: space-betweer;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 30px;
}

.titulo h1 {
  font-weigth: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
  
 }

.Projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.projeto-titulo {
  list-style: nome;
  font-weigth: 700;
  font-size: 36px;
}

.projetos-itens {
  list-style-type: none;
  font-size: 24px;
  font-weigth: 400;
  line-height: 48px;
}

.projetos-itens a {
  color: #1c1c1c;
  text-decoration: none;
}


}